body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .bold-button {
    font-weight:bold;
    color: #ffadad;
    border: 1px solid #ffadad;
    border-radius: 8px;
    padding: 5px;
    background: rgb(255, 246, 231);

  }
  
  button {
    color: #b185db;
    border: 1px solid #bdb2ff;
    padding: 5px;
    border: 1px solid #bdb2ff;
    border-radius: 8px;
    margin: 7px;
    background: rgb(255, 255, 255);
  }

  button.square {
    color: rgb(24, 197, 240);
    border: 1px solid #bdb2ff !important;
  }

::marker {
  color: #b185db;
}

.player-status {
  color: #b185db;
}

.winner {
  color: #ffadad;
  font-size: 2em;
}